build/
.dart_tool/
.gradle/
android/.gradle/
android/app/.cxx/
.idea/
*.iml
*.class
.flutter-plugin-dependencies
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
.packages
.pub-cache/
.pub/
*.log
*.zip
